<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />

        <title>Hello Twitter</title>
    </head>
    <body>
        <div class="container">
            <br/>
            <div class="row">
                <form class="form-inline" action="/twitter/show" method="post">
                    <input type="text" class="col-md-5 btn-lg" name="channel" th:value="${channel}" placeholder="Channel to show..."/>
                    <input type="text" class="col-md-5 btn-lg" name="keyword" th:value="${keyword}" placeholder="Keyword to find..."/>
                    <button class="btn btn-info col-md-2 btn-lg" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </div>
            <br/>
            <div class="row">
                <div th:each="tweet:${tweets}"> 
                    <img th:src="${tweet.profileImageUrl}" class="img-circle"/>
                    <td th:text="${tweet.text}">Text</td>
                </div>
            </div>
            <br/>
        </div>
    </body>
</html>