<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello Twitter</title>
    </head>
    <body>
        <!--
        <h3>Hello, <span th:text="${twitterProfile.name}">Some User</span>!</h3>
        <c:forEach var="marksList" items="${personDTO.marksList}" varStatus="status">
        -->
        <datalist id="channels">
            <option th:each="channel:${channels}" th:value="${channel}"></option>
        </datalist>
        <datalist id="keywords">
            <option th:each="keyword:${keywords}" th:value="${keyword}"></option>
        </datalist>
        <form action="/twitter/show" method="post">            
            <input type="text" name="channel" th:value="${channel}" list="channels" placeholder="Channel to show..."/>
            <input type="text" name="keyword" th:value="${keyword}" list="keywords" placeholder="Keyword to find..."/>
            <input type="submit" value="Search"/>
        </form>
        <h4>These are your tweets:</h4>
        <div th:each="tweet:${tweets}"> 
            <img th:src="${tweet.profileImageUrl}" />
            <td th:text="${tweet.text}">Text</td>
        </div>
    </body>
</html>